<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>--</li>
        <li><a style="position: relative  ; left: 0px;" href="http://courtney.ives.mn">See also: Courtney Ives</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.gitlab_username %}<li>
          <a href="https://gitlab.com/{{ site.gitlab_username }}">
            <span class="icon gitlab">
              <svg width="210px" class="gitlab-icon-svg" height="194px" viewBox="0 0 210 194" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="Fill-1-+-Group-24" sketch:type="MSLayerGroup">
                    <g id="Group-24" sketch:type="MSShapeGroup">
                      <g id="Group">
                        <path d="M105.0614,193.655 L105.0614,193.655 L143.7014,74.734 L66.4214,74.734 L105.0614,193.655 L105.0614,193.655 Z" id="Fill-4" fill="#8e7f7d"></path>
                        <path id="Fill-6" fill="#968f8c"></path>
                        <path d="M105.0614,193.6548 L66.4214,74.7338 L12.2684,74.7338 L105.0614,193.6548 Z" id="Fill-8" fill="#968f8c"></path>
                        <path id="Fill-10" fill="#968f8c"></path>
                        <path d="M12.2685,74.7341 L12.2685,74.7341 L0.5265,110.8731 C-0.5445,114.1691 0.6285,117.7801 3.4325,119.8171 L105.0615,193.6551 L12.2685,74.7341 Z" id="Fill-12" fill="#96928c"></path>
                        <path id="Fill-14" fill="#968f8c"></path>
                        <path d="M12.2685,74.7342 L66.4215,74.7342 L43.1485,3.1092 C41.9515,-0.5768 36.7375,-0.5758 35.5405,3.1092 L12.2685,74.7342 Z" id="Fill-16" fill="#8e7f7d"></path>
                        <path d="M105.0614,193.6548 L143.7014,74.7338 L197.8544,74.7338 L105.0614,193.6548 Z" id="Fill-18" fill="#968f8c"></path>
                        <path d="M197.8544,74.7341 L197.8544,74.7341 L209.5964,110.8731 C210.6674,114.1691 209.4944,117.7801 206.6904,119.8171 L105.0614,193.6551 L197.8544,74.7341 Z" id="Fill-20" fill="#96928c"></path>
                        <path d="M197.8544,74.7342 L143.7014,74.7342 L166.9744,3.1092 C168.1714,-0.5768 173.3854,-0.5758 174.5824,3.1092 L197.8544,74.7342 Z" id="Fill-22" fill="#8e7f7d"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </span>
            <span class="username">{{ site.gitlab_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon github">
              <svg version="1.1" class="github-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#C2C2C2" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761
                c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32
                c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472
                c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037
                C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65
                c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261
                c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082
                c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129
                c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
              </svg>
            </span>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon twitter">
              <svg version="1.1" class="twitter-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                <path fill="#C2C2C2" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27
                c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767
                c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206
                C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271
                c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469
                c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
              </svg>
            </span>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.linkedin_profile %}<li>
          <a href="{{ site.linkedin_profile }}">
            <span class="icon twitter">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="16" height="16" viewBox="0, 0, 16, 16">
                <g id="Layer_1">
                  <path d="M13.585,0 L2.416,0 C1.082,0 0,1.082 0,2.416 L0,13.584 C0,14.918 1.082,16 2.416,16 L13.585,16 C14.92,16 16.001,14.918 16.001,13.584 L16.001,2.416 C16.001,1.082 14.92,0 13.585,0 z" fill="#C2C2C2" id="rect1942"/>
                </g>
                <g id="Layer_1">
                  <path d="M4.842,13.431 L4.842,6.195 L2.437,6.195 L2.437,13.431 L4.842,13.431 z M3.64,5.207 C4.478,5.207 5,4.651 5,3.957 C4.985,3.247 4.478,2.707 3.655,2.707 C2.832,2.707 2.295,3.247 2.295,3.957 C2.295,4.651 2.816,5.207 3.624,5.207 L3.64,5.207 L3.64,5.207 z" fill="#FFFFFF" id="path28_1_"/>
                  <path d="M6.173,13.431 L8.578,13.431 L8.578,9.39 C8.578,9.174 8.594,8.958 8.657,8.803 C8.831,8.371 9.227,7.923 9.891,7.923 C10.761,7.923 11.109,8.587 11.109,9.56 L11.109,13.431 L13.514,13.431 L13.514,9.282 C13.514,7.059 12.328,6.025 10.745,6.025 C9.448,6.025 8.878,6.75 8.562,7.244 L8.578,7.244 L8.578,6.195 L6.173,6.195 C6.205,6.874 6.173,13.431 6.173,13.431 L6.173,13.431 z" fill="#FFFFFF" id="path30_1_"/>
                </g>
              </svg>
            </span>
            <span class="username">linkedin</span>
          </a>
        </li>{% endif %}

      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>

  </div>

</footer>
