<header class="site-header">

  <div class="wrap">
    <div class="robot-arm-box"></div>
    <div class="robot-arm-box-always"></div>
    <img class="robot-arm" alt="robot arm icon" src="{{ site.baseurl }}/images/robot_arm.png" />

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <!-- Looking at the page source eh? Well, hope you like what you see. As you're probably already aware, 
    the site uses jekyll as a static site generator. I manage and host everything through github, so feel free 
    to take a look over there: https://github.com/alexives/alexives.github.io -->

    <nav class="site-nav">
      <a class="menu-icon">
        <svg version="1.1" alt="menu icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 18 15" enable-background="new 0 0 18 15" xml:space="preserve">
          <path fill="#505050" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0
            h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#505050" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484
            h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#505050" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0
            c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>
      <div class="trigger">
        <a class="page-link" href="/">Home</a>
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>

    </nav>

  </div>

</header>
