---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}

  <p class="meta">
  	{% if page.seqprevious %}
  	  <a href="{{page.seqprevious}}">[<-- Previous]</a>
    {% endif %}
  	{% if page.seqnext %}
  	  <a href="{{ page.seqnext }}">[Next -->]</a>
    {% endif %}
  </article>

</div>