---
layout: default
---
<div class="post">

  <header class="post-header">
    <p class="meta">Software release:</p>
    <h1 style="height: 97px;display:block;"><img alt="{{ page.title }} icon" style="height:60px;width:60px;float:left;border-radius:15px;padding:5px;margin-right:10px;border:1px solid #888;" src="{{ site.baseurl }}/{{ page.icon }}"/>{{ page.title }}</h1>
    <p class="meta">
      {% if page.repo %}<a href="{{ page.repo }}">[View Code]</a>{% endif %}
      {% if page.latest_release %}<a href="{{ page.latest_release }}">[Download Latest]</a>{% endif %}
    </p>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>